/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require mobile
*= require_tree select2
*= require_self
*/

.pagination {
    /*background-color: hsla(40, 5%, 12%, .5);*/
    background-color: white;
    padding: 0;
    margin: 0;
    color: #337ab7;
    border-style: solid;
    border-color: hsla(208, 20%, 40%, 1);
    border-width: 1px 0px 1px 1px;
    border-radius: 4px;
    display: inline-flex;
}

.pagination a {
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
    color: #337ab7;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: hsla(208, 5%, 40%, 1);
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.pagination .currentStep {
    background-color: #337ab7;
    cursor: not-allowed;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: hsla(208, 5%, 40%, 1);
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.pagination a:active {
    background-color: hsla(208, 56%, 46%, 1);
}

.pagination a:hover {
    color: hsla(208, 100%, 46%, 1);
    font-weight: 500;
    background-color: hsla(0, 0%, 80%, 1);
}