body {
    background-color: #313131;
    background: url("../images/bg_img.png");
}

#header {
    margin-top: 30px;
}

.dgb-background {
    background-color: #621209;
    padding-top: 40px;
}

.site-banner {
    background-color: #21201e;
    height: 125px;
    border: 1px solid #fdb316;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
}

.logo-container {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 2px solid #27aae2;
    position: relative;
    background-color: #21201e;
    background: -webkit-radial-gradient(#fdb316, #21201e, black);
    /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#fdb316, #fdb316, black);
    /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#fdb316, #fdb316, black);
    /* For Firefox 3.6 to 15 */
    background: radial-gradient(#fdb316, #fdb316, black);
    /* Standard syntax */
    z-index: 1;
    left: -25px;
    top: -37px;
}

.nav-div {
    font-family: Impact, sans-serif;
    font-size: 1em;
    background-color: #21201e;
    border-left: 1px solid #fdb316;
    border-right: 1px solid #fdb316;
    padding-bottom: 1px;
}

.nav-div .page-menu {
    color: white;
    padding-top: 65px;
}

.nav-div .page-menu li {
    display: inline;
    font-size: 1.6em;
    border-right: 1px solid white;
}

.nav-div .page-menu li a {
    color: white;
}

.nav-div .page-menu li a.active {
    color: #2dabd3;
}

.nav-div .page-menu li:last-child {
    border-right: none;
}

.nav-div .page-menu li:last-child a {
    padding-left: 4px;
}

#accordion .panel {
    color: white;
    background-color: #333;
    border-top: 1px solid rgb(65, 64, 66);
    border-bottom: 1px solid rgb(65, 64, 66);
    border-left: none;
    border-right: none;
}

#accordion .panel .panel-heading {
    color: white;
    background-color: #21201e;
    border-left: none;
    border-right: none;
}

#accordion .panel .panel-body {
    border-top: 1px solid rgb(65, 64, 66);
    padding-bottom: 5px;
}

#accordion .panel .panel-body a {
    color: white;
}

#accordion .panel .panel-body a:hover {
    color: #2dabd3;
    font-weight: 500;
    text-decoration: none;
}

.shape-outer {
    background-color: #fdb316;
    position: relative;
    width: 100%;
    height: 115px;
    -webkit-clip-path: polygon(100% 0, 100% 19%, 60% 42%, 60% 72%, 17% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 19%, 60% 42%, 60% 72%, 17% 100%, 0 100%, 0 0);
}

.shape-outer .shape-inner {
    background-color: #21201e;
    position: absolute;
    top: 0px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    -webkit-clip-path: polygon(100% 0, 100% 19%, 60% 42%, 60% 72%, 17% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 19%, 60% 42%, 60% 72%, 17% 100%, 0 100%, 0 0);
}

.slider-container {
    border: 1px solid #27aae2;
    color: white;
    background-color: #21201e;
    font-family: 'Impact', 'Oswald', 'Helvitica', 'Arial', sans-serif;
}

.slider-container #feature-header {
    font-size: 1.2em;
    height: 28px;
    width: 150px;
    margin-top: 30px;
    background-color: #414143;
    padding-left: 7px;
    margin-bottom: 8px;
    -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}

.slider-container .post-img .featured-title-container {
    font-family: 'Avengeance', 'Oswald', 'Helvitica', 'Arial', sans-serif;
    width: 100%;
    height: 60px;
    padding: 7px;
    margin-top: -60px;
    position: relative;
    background-image: -webkit-linear-gradient(left, #000 0, rgba(0, 0, 0, 0.2) 100%);
    background-image: -o-linear-gradient(left, #000 0, rgba(0, 0, 0, 0.2) 100%);
    background-image: linear-gradient(to right, #000 0, rgba(0, 0, 0, 0.2) 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#33000000', GradientType=1);
}

.slider-container .post-img .featured-title-container .featured-title {
    color: white;
    margin-left: 5px;
}

.about-outer {
    height: 28px;
    width: 150px;
    position: relative;
    background-color: #27aae2;
    margin: 35px 0px 5px 14px;
    -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}

.about-outer .about-inner {
    background-color: white;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    font-family: 'Oswald', 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
    color: black;
    padding-left: 7px;
    padding-top: 3px;
    -webkit-clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
}

.about-author {
    background-color: white;
    padding: 10px;
    font-size: 15px;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.post {
    border-radius: 15px;
    border-top: 2px solid #27aae2;
    border-bottom: 2px solid #27aae2;
    border-left: 14px solid #27aae2;
    border-right: 14px solid #27aae2;
}

article .post {
    margin-top: 30px;
    background-color: white;
    padding-top: 30px;
    color: black;
}

article .post h1,
article .post h2 {
    margin-top: 1.2em;
    margin-bottom: 0px;
    font-family: 'Avengeance', 'Oswald', sans-serif;
}

article .post p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
}

article .post .fb-share-button span {
    height: 25px !important;
}

article #post-meta-details {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 1em;
    margin: 5px 0 19px 10px;
    margin-bottom: 19px;
}

.blog {
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}

.pagination {
    /*background-color: hsla(40, 5%, 12%, .5);*/
    background-color: hsla(40, 5%, 12%, 1);
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    color: white;
    border-style: solid;
    border-color: hsla(208, 20%, 40%, 1);
    border-width: 1px 0px 1px 1px;
    border-radius: 4px;
    display: inline-flex;
}

.pagination a {
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: hsla(208, 5%, 40%, 1);
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.pagination .currentStep {
    background-color: #21201e;
    cursor: not-allowed;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
    color: #777;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: hsla(208, 5%, 40%, 1);
    transition-property: background-color;
    transition-duration: .3s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.pagination a:active {
    background-color: hsla(208, 56%, 46%, 1);
}

.pagination a:hover {
    color: hsla(208, 100%, 46%, 1);
    font-weight: 500;
    background-color: hsla(0, 0%, 20%, 1);
}

#search-field {
    color: white;
    background-color: #21201e;
    border-color: hsla(208, 5%, 40%, 1);
}

.blog .post {
    background-color: #21201e;
    color: white;
    margin-top: 15px;
    padding-left: 40px;
}

.blog .post a {
    color: #2dabd3;
}

.blog .post h1,
.blog .post h2,
.blog .post h3 {
    margin-bottom: 4px;
}

.blog .post p {
    font-family: 'Noto Sans', sans-serif;
    margin-left: 5px;
    padding-right: 19px;
}

.blog .post .title {
    font-weight: bold;
}

.blog .post .title a {
    color: white;
}

.blog .post .title a:hover {
    text-decoration: none;
    color: #2dabd3;
}

.blog .post .read-more {
    margin-left: 6px;
    margin-bottom: 5px;
    font-size: 1em;
}

#footer {
    margin-top: 30px;
    border-top: 1px solid #eee;
    padding-top: 3px;
    color: #777;
}

@media (min-width: 992px) {
    .dgb-background {
        background-color: #621209;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .dgb-background {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .slider-container .post-img .featured-title-container h3 {
        font-size: 22px;
        margin-top: 7px;
    }
}

@media (min-width: 0px) and (max-width: 992px) {
    .slider-container .post-img .featured-title-container h3 {
        font-size: 14px;
        line-height: 1.5em;
        margin-top: 4px;
    }
}